@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-width: 100%;
  min-height: 100%;
  padding: 0.5em;
  @apply bg-slate-900;
}

@media screen and (min-width: 640px) {
  #__next {
    display: flex;
    justify-content: center;
  }
}
body {
  height: 100vh;
}
